<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>SRT</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eligendi perspiciatis, vel deleniti dolorem maiores atque, vitae ea maxime numquam nam nemo omnis beatae quasi recusandae quas expedita ullam velit!
    </p>
    <p>
        matches played:350
    </p>
</body>
</html>